:root {
  --light-color-background: rgb(248 250 252);
  --light-color-background-secondary: rgb(241 245 249);
  --light-color-accent: rgb(226 232 240);
}

* {
  scrollbar-width: unset;
  scrollbar-color: unset;
}

.tsd-page-toolbar {
  background: var(--color-background);
}

#tsd-search.has-focus {
  background: var(--color-background-secondary);
}

.tsd-filter-visibility, .tsd-hierarchy {
  display: none;
}

.tsd-signature {
  padding: 0;
  border: none;
}

.tsd-navigation a.current, .tsd-page-navigation a.current {
  border-radius: calc(6px + 0.25rem);
  padding-right: 0.5rem;
}
